#clockdiv{
    text-align: center;
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}


#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #606060;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #333333;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.col-centered{
    text-align: center;
    margin: 0 auto;
}

.table{
    font-size: 15px;
}

.form-control {
    text-align: center;
}


textarea.form-control {
    text-align: left;
}

select.form-control {
    text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-control[readonly]{
    border-style: none;
    background-color: #ffffff;
    opacity: 1;
}

