{% extends "GrillMe/base.html" %}
{% load bootstrap_ui_tags %}
{% load bootstrap3 %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
        <h1>Food List</h1>
            <a href='{% url 'food_new' %}'">
                    {% bootstrap_icon "plus" %} Add
            </a>
        <div class = "table-responsive">
            <table class="table table-hover table-striped" style="font-size: 15px">
                <tbody>
                {% for food_item in object_list %}
                    <tr onclick="getElementById('{{ food_item.id }}').click()" style="cursor: pointer">
                        <a href="{% url "food_timer" food_item.id %}" id="{{ food_item.id }}">
                        <td align="center" valign="middle">{{ food_item.name }}</td>
                        </a>
                        <td><a href="{% url "food_edit" food_item.id %}">{% bootstrap_icon "pencil" %}</a></td>
                        <td><a href="{% url "food_delete" food_item.id %}">{% bootstrap_icon "remove" %}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
{% endblock body %}